<!DOCTYPE html>
<html>
  <head>
    <meta charset ='utf-8'>
    <title>Home Page!</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="homepage.js"></script>
    <link rel="stylesheet" href="homepage.css"/>
  </head>
  <body>
    <div>
      <h2> Homepage </h2>
      <h2> Logout </h2>
    </div>
    <form class="example" action="action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <div id ='clicks'></div>
    <div id ='images'></div>
    <div id='titles'></div>
    <br>
    <div>
      <h2> Recommendations: </h2>
    </div>
    <div>
      <h2> Groups: </h2>
    </div>
    <div>
      <h2> Favourites: </h2>
    </div>
  </body>

</html>
