<!DOCTYPE html>
<html>
  <head>
    <meta charset ='utf-8'>
    <title>Home Page!</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <!-- <script src="/scripts/homepage.js"></script> -->
    <!-- <link rel="stylesheet" href="homepage.css"/> -->
  </head>
  <body>
    <div>
      <h2> Homepage </h2>
      <h2> Logout </h2>
    </div>
    <form method=POST action="/search">
      <input type="text" placeholder="Search.." name="search" id ='searchterm'>
      <input type="submit" value="Go" id ='clicks'>
    </form>

    <div id ='images'></div>
    <div id='titles'></div>
    <br>
    <div>
      <h2> Recommendations: </h2>
    </div>
    <div>
      <h2> Groups: </h2>
    </div>
    <div>
      <h2> Favourites: </h2>
    </div>
  </body>

</html>
