<!DOCTYPE html>
<html>
  <head>
    <meta charset ='utf-8'>
    <title>Home Page!</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <!-- <script src="/scripts/homepage.js"></script> -->
    <link rel="stylesheet" href="/styles/homepage.css">
  </head>
  <body>
    <div class= 'header'>
      <h2> Homepage </h2>
      <h2>  <a href={{logout}}>Logout</a> </h2>
    </div>
    <form method=POST action="/search">
      <input type="text" placeholder="Search.." name="search" id ='searchterm'>
      <button type=Submit  id ='clicks'>Search for Manga</button>
    </form>


    <div>
      <h2> Recommendations: </h2>
    </div>
    <div>
      <h2> Groups: </h2>
    </div>
    <div>
      <h2> Favourites: </h2>
    </div>
  </body>

</html>
