<!DOCTYPE html>
<html>
  <head>
    <meta charset ='utf-8'>
    <title>Manga</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="/scripts/manga.js"></script>
    <link rel="stylesheet" href="/styles/manga.css">
    <link href="https://fonts.googleapis.com/css?family=Paytone+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class='header'>
      <h2> <a href='/homepage' id="homebut"> YourMangaTracker </a> </h2>
      <h2> <a href="/profile" id="profbut"> Your Profile </a> </h2>
      <h2> <a href={{logout}} id="logoutbut">Logout</a> </h2>
    </div>

    <div class='body'>
      <img src={{info[0]}}>


      <div id='mangainfo'>
        <h1>{{info[1]}}</h1>
        <h3>SYNOPSIS: {{info[2]}}</h3>

        <div id='square' >
          <h4>Rated by the community: {{info[4]}}</h4>
          <h4>Rated by your friends: {{averageuserrating}}</h4>
          <h4>No. of Chapters: {{info[5]}}</h4>
        </div>
        <div class='buttons'>
          <div class='ratethis'>
            <button class="open-button">Rate this Manga</button>
            <div class="form-popup" id="myForm">
              <form method=POST action="/manga/{{info[3]}}" class="form-container">
                <h2>{{info[6]}}</h2>
                <div ><b>Rate This Manga (out of 10)</b></div>
                <input type="text" placeholder="Enter a score..." name="rating" id='rating'>
                <div id='review'><b>Review This Manga</b></div>
                <input type="text" placeholder="Enter a review..." name="review" class='review'>
                <button type="submit" class="btn" id='submit' name='submitreview'>Submit</button>
                <div class='btncancel'>Close</div>
              </form>
            </div>


          </div>
          <div class='favourite'>
            <form method=POST action="/manga/{{info[3]}}">
              <button type='submit' id="favorite" name ='favorites'>{{favoritetext}}</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="reviews">
      <h2>REVIEWS:</h2>
      {% for key,value in reviews.items() %}
        <div class="userreview">
          <p>{{key}}: {{value}}</p>

      {% endfor %}
    </div>

  </body>

</html>
