.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Paytone One', sans-serif;
  margin-top: -30px;
}
/* this stuff down for links in header */
#homebut{
  border: solid 1px black;
  padding: 5px;
  color: rgb(123, 158, 158);
}
.follow{
  display: flex;
  align-items: center;
}
.top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Quicksand', sans-serif;
}
#btn{
  width:200px;
  height:50px;
  font-size: 20px;
  background-color:blue;
  opacity: 0.8;
  color:white;
}
#btn:hover{
  opacity: 1;
}
#profbut{
  align-content: right;
  border: solid 1px black;
  padding: 5px;
  color: rgb(62, 132, 27);
}

#logoutbut{
  border: solid 1px black;
  padding: 5px;
  color: rgb(244, 83, 66)
}

img {
  max-width:150px;
  max-height: 200px;
}
#favorite{
  display: flex;
  flex-direction: row;
}
.favorited{
  display: flex;
  flex-direction: column;
  width: 150px;
  margin:5px;
  text-align: center;
  background-color: white;
}
.bot{
  font-family: 'Quicksand', sans-serif;
}
