* {
  box-sizing: border-box;
}

/* Style the search field */
form input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 77%;
  background: #f1f1f1;x
}

/* Style the submit button */
form button[type=submit]{
  float: left;
  width: 23%;
  height:42px;
  padding: 5px;
  background: #2196F3;
  color: white;
  font-size: 14px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}
#clicks{
  word-wrap: break-word;
}

form button[type=submit]:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Paytone One', sans-serif;
  margin-top: -30px;
}
#homebut{
  border: solid 1px black;
  padding: 5px;
  color: rgb(123, 158, 158);
}

#profbut{
  align-content: right;
  border: solid 1px black;
  padding: 5px;
  color: rgb(62, 132, 27);
}

#logoutbut{
  border: solid 1px black;
  padding: 5px;
  color: rgb(244, 83, 66)
}
.favorited{
  display: flex;
  flex-direction: column;
  width: 120px;
  margin:5px

}
#recbox{
  display: flex;
  flex-direction: row;
}
.recommend{
  display: flex;
  flex-direction: column;
  width: 120px;
  margin:5px

}
#favorite{
  display: flex;
  flex-direction: row;
}

.box {
  width: fit-content;
  border: solid 1px black;

}
.cssimg {
  width: 120px;
  height: 160px;
}
#frenrecbox{
  display: flex;
  flex-direction: row;
  margin:5px;
}
.friendsuggestion{
  display: flex;
  flex-direction: column;
  text-align: center;

}
.profilepic{
  height:100px;
  width:100px;
}
