.info {
  top: 0;
  width: 200px;
  margin:5px;
  display: flex;
  flex-direction: column;
  text-align: center;

  height: fit-content;

}
img {
  width :200px;
  height:300px;
  margin:5px;
}
.title {
  font-size: 20px;
  font-weight: bold;
  margin-top: -5px;
}
.searchresult {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


#images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

button{
  float: left;
  width: 23%;
  height:42px;
  padding: 5px;
  background: #2196F3;
  color: white;
  font-size: 14px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(123, 158, 158);
}
