.info {
  top: 0;
  width: 200px;
  margin:5px;
  display: flex;
  flex-direction: column;
  text-align: center;

  height: fit-content;

}
img {
  width :200px;
  height:300px;
  margin:5px;
}
.title {
  font-size: 20px;
  font-weight: bold;
  margin-top: -5px;
}
.searchresult {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


#images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

* {
  box-sizing: border-box;
}

/* Style the search field */
form input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 77%;
  background: #f1f1f1;
}

button[type=submit]{
  float: left;
  width: 23%;
  height:42px;
  padding: 5px;
  background: #2196F3;
  color: white;
  font-size: 14px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}
#clicks{
  word-wrap: break-word;
}

form button[type=submit]:hover {
  background: #0b7dda;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Paytone One', sans-serif;
  margin-top: -30px;
}
/* this stuff down for links in header */
#homebut{
  border: solid 1px black;
  padding: 5px;
  color: rgb(123, 158, 158);
}

#profbut{
  align-content: right;
  border: solid 1px black;
  padding: 5px;
  color: rgb(62, 132, 27);
}

#logoutbut{
  border: solid 1px black;
  padding: 5px;
  color: rgb(244, 83, 66)
}
